<section class="main-content">
    <app-sidenav></app-sidenav>
    <app-header></app-header>
    <div class="main-body py-5 pe-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between pb-4">
                        <h4 class="fw-bold h5 m-0">Add Employee</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="shadow rounded p-5">
                <div class="row">
                    <div class="col-lg-8 col-sm-8 col-md-8 col-12">
                      <div class="progressBar mb-5 pb-3">
                        <ul class="progressbar">
                          <li [ngClass]="{'active': currentStep === 1}">General Details</li>
                          <li [ngClass]="{'active': currentStep === 2}">Supplier & Payment Details</li>
                          <li [ngClass]="{'active': currentStep === 3}">Material Details</li>
                          <li [ngClass]="{'active': currentStep === 4}">Taxes & Charges Details</li>
                          <li [ngClass]="{'active': currentStep === 5}">Confirmation</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                <form name="FormName" action="#" class="empclass" autocomplete="off">

                    <div class="container mt-4">
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>General Details</h2>
                                <a routerLink="/purchase/general-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="row info-row">
                                        <div class="col-md-4">
                                            <div class="info-label">PO number</div>
                                            <div class="info-value">ATSR123456780</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">PO date</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Plant</div>
                                            <div class="info-value">MT001 - Marelli Motherson</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Ship to Plant</div>
                                            <div class="info-value">MT001 - Marelli Motherson</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Project code</div>
                                            <div class="info-value">PRJ-AM2024-001</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Buyer</div>
                                            <div class="info-value">MT0007 - Rohan Jain</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Category</div>
                                            <div class="info-value">Components</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Type</div>
                                            <div class="info-value">Local</div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="info-label">Nature</div>
                                            <div class="info-value">Open</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Validity from</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Validity to</div>
                                            <div class="info-value">12/12/2024</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Required date</div>
                                            <div class="info-value">22/10/2024</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Sales order reference</div>
                                            <div class="info-value">2024-1234</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Reference doc no.</div>
                                            <div class="info-value">7778000022213</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Attachment</div>
                                            <div class="info-value">Sales order document.pdf</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Supplier Details</h2>    
                                <a routerLink="/purchase/supplier-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="row info-row">
                                        <div class="col-md-4">
                                            <div class="info-label">Sold by</div>
                                            <div class="info-value">SM00003107 | Pidilite Adhesive</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Shipped by</div>
                                            <div class="info-value">SM00003107 | Pidilite Adhesive</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Remit to</div>
                                            <div class="info-value">SM00003107 | Pidilite Adhesive</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Sales person</div>
                                            <div class="info-value">Amit Mehta</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Remarks</div>
                                            <div class="info-value">--------</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Payment Details</h2>
                                <a routerLink="/purchase/supplier-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="row info-row">
                                        <div class="col-md-4">
                                            <div class="info-label">Credit term</div>
                                            <div class="info-value">Credit 60 Days</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Price basis (ecnoterms)</div>
                                            <div class="info-value">FOB</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Currency exchange rate</div>
                                            <div class="info-value">₹ &#64; 1</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Closing value</div>
                                            <div class="info-value">₹1,91,985.60</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info-label">Cost center</div>
                                            <div class="info-value">Components</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Material Details</h2>
                                <a routerLink="/purchase/material-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    
                                </div>
                            </div>
                        </div>
                        


                    </div>  
                </form>
            </div>
        </div>
    </div>
</section>