<section class="main-content">
    <app-sidenav></app-sidenav>
    <app-header></app-header>
    <div class="main-body py-5 pe-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between pb-4">
                        <h4 class="fw-bold h5 m-0">Add Employee</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="shadow rounded p-5">
                <div class="progressBar mb-5 pb-3">
                    <ul class="progressbar">
                        <li [ngClass]="{'active': currentStep === 1}">General Details</li>
                        <li [ngClass]="{'active': currentStep === 2}">Personal Details</li>
                        <li [ngClass]="{'active': currentStep === 3}">Bank/PF/ESI</li>
                        <li [ngClass]="{'active': currentStep === 4}">Contact & Address</li>
                        <li [ngClass]="{'active': currentStep === 5}">Family Details</li>
                        <li [ngClass]="{'active': currentStep === 6}">Experience & Education</li>
                        <li [ngClass]="{'active': currentStep === 7}">Assets & Docs</li>
                        <li [ngClass]="{'active': currentStep === 8}">Salary</li>
                        <li [ngClass]="{'active': currentStep === 9}">Confirmation</li>
                    </ul>
                </div>
                <form name="FormName" action="#" class="empclass" autocomplete="off">

                    <div class="container mt-4">
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>General</h2>
                                <a routerLink="/employee/general-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="section-title">Employee Information</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Global Id</div>
                                            <div class="info-value">1234</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Unit Id</div>
                                            <div class="info-value">3232</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Employee type</div>
                                            <div class="info-value">PAS</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Employee Id</div>
                                            <div class="info-value">2344</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Salute (Mr/Mrs)</div>
                                            <div class="info-value">Mr</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">First name</div>
                                            <div class="info-value">John</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Middle name</div>
                                            <div class="info-value">-</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Last name</div>
                                            <div class="info-value">Doe</div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="info-label">Gender</div>
                                            <div class="info-value">Male</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Email Id</div>
                                            <div class="info-value">john.doemotherson.com</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Mobile no.</div>
                                            <div class="info-value">9876543210</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Window login id</div>
                                            <div class="info-value">43210</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Domain name</div>
                                            <div class="info-value">John</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Direct/Indirect</div>
                                            <div class="info-value">Direct</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Deputation ED</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Deputation SD</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Deputation location</div>
                                            <div class="info-value">Bangalore</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Shift rule</div>
                                            <div class="info-value">A</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Remarks</div>
                                            <div class="info-value">None</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Joining Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Interview date</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Unit DOJ</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Group DOJ</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Confirmed</div>
                                            <div class="info-value">
                                                <input type="checkbox" checked disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Confirmation date</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Extended month</div>
                                            <div class="info-value">24</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Extended date reason</div>
                                            <div class="info-value">None</div>
                                        </div>

                                    </div>
                                    <div class="section-title">Current Position</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Department</div>
                                            <div class="info-value">emPro</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Section code</div>
                                            <div class="info-value">2134</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Designation</div>
                                            <div class="info-value">Engineer</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Grade</div>
                                            <div class="info-value">A</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Location</div>
                                            <div class="info-value">Noida</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Separation Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Date of resignation</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Unit DOL</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Group DOL</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">DOR</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Ret. ext date</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Retirement ext. date</div>
                                            <div class="info-value">None</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Reason for leaving</div>
                                            <div class="info-value">None</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-12">
                                    <div class="proimg">
                                        <div class="proins">
                                            <img src="../../../assets/icons/form-icon/profile-image.png" alt=""
                                                class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Personal Detail</h2>
                                <a routerLink="/employee/personal-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">DOB</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Birth place</div>
                                            <div class="info-value">Delhi</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Physical status</div>
                                            <div class="info-value">Fit</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Blood group</div>
                                            <div class="info-value">B+</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">National id</div>
                                            <div class="info-value">IND</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Personal email id</div>
                                            <div class="info-value">john&#64;motherson.com</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Employee Identity</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">PAN no.</div>
                                            <div class="info-value">ABCDE1234A</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Aadhar no.</div>
                                            <div class="info-value">876523450987</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Company PF no.</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">PRAN number</div>
                                            <div class="info-value">876523450987</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Labour card no.</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Passport & Visa</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Passport no.</div>
                                            <div class="info-value">12456352727</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Issued on</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Valid upto</div>
                                            <div class="info-value">01/03/2034</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Place of issue</div>
                                            <div class="info-value">Delhi</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Bank/PF/ESI</h2>
                                <a routerLink="/employee/account-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="section-title">Statutory Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">PF no.</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">UAN no.</div>
                                            <div class="info-value">876523450987</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">ESI no.</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">ESI registered no.</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Dispensory</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">EDLI no.</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Super annuation no.</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Saving Bank Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Payment mode</div>
                                            <div class="info-value">Bank</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank CA id</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank CA A/c no.</div>
                                            <div class="info-value">876523450987</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank CA IFSC</div>
                                            <div class="info-value">ICIC1234</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Current Bank Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Payment mode</div>
                                            <div class="info-value">Bank</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank CA id</div>
                                            <div class="info-value">450987876523</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank CA A/c no.</div>
                                            <div class="info-value">876523450987</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank CA IFSC</div>
                                            <div class="info-value">ICIC1234</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Contact & Address</h2>
                                <a routerLink="/employee/contact-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="section-title">Contact Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Mobile no.</div>
                                            <div class="info-value">9876512345</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Emergency mobile no. 1</div>
                                            <div class="info-value">9876512345</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Emergency mobile no. 2</div>
                                            <div class="info-value">9876512345</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Personal email id</div>
                                            <div class="info-value">john&#64;motherson.com</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Present Address</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 1)</div>
                                            <div class="info-value">New city lane</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 2)</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 3)</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Country</div>
                                            <div class="info-value">00234</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">State</div>
                                            <div class="info-value">Delhi</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">City</div>
                                            <div class="info-value">New Delhi</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Pin code</div>
                                            <div class="info-value">110013</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Permanent Address</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 1)</div>
                                            <div class="info-value">New city lane</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 2)</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 3)</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Country</div>
                                            <div class="info-value">00234</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">State</div>
                                            <div class="info-value">Delhi</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">City</div>
                                            <div class="info-value">New Delhi</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Pin code</div>
                                            <div class="info-value">110013</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Family Detail</h2>
                                <a routerLink="/employee/family-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Father name</div>
                                            <div class="info-value">John Jacob</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Father DOB</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Mother name</div>
                                            <div class="info-value">John Jacob</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Mother DOB</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                    </div>

                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Address (Line 1)</div>
                                            <div class="info-value">New city lane</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Wedding anniversary</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Emp med SD</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Emp med ED</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Extra premium (Self)</div>
                                            <div class="info-value">4545</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Extra premium (Parent)</div>
                                            <div class="info-value">4545</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Extra premium top-up (Self)</div>
                                            <div class="info-value">4545</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Extra premium top-up (Parent)</div>
                                            <div class="info-value">4545</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Spouse Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Spouse name</div>
                                            <div class="info-value">Alex</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Gender</div>
                                            <div class="info-value">Fenmale</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Spouse DOB</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Spouse med SD</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Spouse med ED</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>

                                    </div>
                                    <div class="section-title">1st Child Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Child name</div>
                                            <div class="info-value">Sam</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Gender</div>
                                            <div class="info-value">Male</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Child DOB</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Child med SD</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Child med ED</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>

                                    </div>
                                    <div class="section-title">2nd Child Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Child name</div>
                                            <div class="info-value">Josephine</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Gender</div>
                                            <div class="info-value">Female</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Child DOB</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Child med SD</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Child med ED</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>

                                    </div>
                                    <div class="section-title">Nomination Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">PF nominee</div>
                                            <div class="info-value">John Jacob</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">PF nominee rel</div>
                                            <div class="info-value">Father</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">PF nominee rel %</div>
                                            <div class="info-value">50%</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">ESI nominee</div>
                                            <div class="info-value">John Jacob</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">ESI nominee rel</div>
                                            <div class="info-value">Father</div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="info-label">ESI nominee rel %</div>
                                            <div class="info-value">50%</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Gratuity nominee</div>
                                            <div class="info-value">John Jacob</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Gratuity nominee rel</div>
                                            <div class="info-value">Father</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Gratuity nominee rel %</div>
                                            <div class="info-value">50%</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Experience & Education</h2>
                                <a routerLink="/employee/experience-education-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="section-title">Previous Employment</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Previous Employment</div>
                                            <div class="info-value">Graduation</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Course</div>
                                            <div class="info-value">B.Tech</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">University</div>
                                            <div class="info-value">D.U.</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">CGPA</div>
                                            <div class="info-value">7.4</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Passing year</div>
                                            <div class="info-value">2019</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Assets & Docs</h2>
                                <a routerLink="/employee/assets-docs-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="section-title">Asset Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Vehicle</div>
                                            <div class="info-value">Hyundai i20</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Vehicle no.</div>
                                            <div class="info-value">UP16DT2030</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">License no.</div>
                                            <div class="info-value">UP34793739373</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Transport code</div>
                                            <div class="info-value">2345</div>
                                        </div>
                                    </div>
                                    <div class="section-title">Documents Upload</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Aadhaar</div>
                                            <div class="info-value">New city lane</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">PAN</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">UAN</div>
                                            <div class="info-value">Lajpat nagar</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">PRAN</div>
                                            <div class="info-value">00234</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Bank A/c details</div>
                                            <div class="info-value">00234</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="employee-info">
                            <div class="d-flex align-items-center justify-content-between mb-4 einfo">
                                <h2>Salary Detail</h2>
                                <a routerLink="/employee/salary-details"><img
                                        src="../../../assets/icons/form-icon/edit.svg" alt="" class="img-fluid"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-lg-10 col-12">
                                    <div class="section-title">Asset Detail</div>
                                    <div class="row info-row">
                                        <div class="col-md-3">
                                            <div class="info-label">Salary revision date</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Salary effective date from</div>
                                            <div class="info-value">01/03/2024</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="info-label">Salary structure Id</div>
                                            <div class="info-value">MT001</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="formse">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-md-10 col-12">
                                <div class="formsebtn d-flex align-items-center justify-content-between mb-2 mt-3">
                                    <div class="backclass">
                                        <button class="backpart text-decoration-none border-0 bg-white"
                                            [disabled]="currentStep === 8" (click)="goBack()">Back</button>
                                    </div>
                                    <div class="savesec d-flex align-items-center justify-content-end gap-3">
                                        <button type="button"
                                            class="btn btn-outline-primary rounded-5 px-5 py-2 fw-bold"
                                            (click)="cancel()">Cancle</button>
                                        <button type="submit"
                                            class="btn btn-outline-secondary rounded-5 px-5 py-2 fw-bold"
                                            (click)="next()">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2 col-12"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
