<header id="page-topbar" class="header-sec">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between px-5">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="navbar-header d-flex justify-content-between align-items-center m-auto p-0">
                    <div class="header-img ps-5 ms-5">
                        <h4 class="fw-bold mb-0 fs-5">Marelli Motherson Automotive Lighting (MMLI)</h4>
                    </div>
                    <div class="d-flex align-items-center justify-content-end gap-5">
                        <div class="profile-sec mt-2">
                            <div class="icon-bar d-flex align-items-center justify-content-center gap-5">
                                <div class="icon-item position-relative">
                                    <a href="#" aria-expanded="false">
                                        <svg-icon src="../../../assets/icons/purchase/Search.svg"></svg-icon>
                                    </a>
                                </div>
                                <div class="icon-item position-relative">
                                    <a href="#" aria-expanded="false">
                                    <svg-icon src="../../../assets/icons/purchase/Star.svg"></svg-icon>
                                    </a>
                                </div>
                                <div class="icon-item position-relative">
                                    <a href="#" aria-expanded="false">
                                    <svg-icon src="../../../assets/icons/purchase/Ring.svg"></svg-icon>
                                    <span class="badge rounded-pill text-bg-primary position-absolute top-0 start-100 translate-middle">21</span>
                                    </a>
                                </div>
                                <div class="icon-item position-relative">
                                    <a href="#" aria-expanded="false">
                                    <svg-icon src="../../../assets/icons/purchase/clipboard-check.svg"></svg-icon>
                                    <span class="badge rounded-pill text-bg-primary position-absolute top-0 start-100 translate-middle">02</span>
                                    </a>
                                </div>
                                <div class="icon-item position-relative">
                                    <a href="#" aria-expanded="false">
                                    <svg-icon src="../../../assets/icons/purchase/Archives.svg"></svg-icon>
                                    </a>
                                </div>
                                <div class="icon-item position-relative">
                                    <a href="#" aria-expanded="false">
                                    <svg-icon src="../../../assets/icons/purchase/Questions.svg"></svg-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user-image">
                            <img src="../../../assets/images/logo/Profile.png" alt="Profile" class="img-fluid rounded-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>