<section class="main-content">
  <app-sidenav></app-sidenav>
  <app-header></app-header>
  <div class="main-body py-5 pe-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between pb-4">
            <div class="d-flex align-items-center gap-2">
              <h4 class="fw-bold h5 m-0">Create Purchase Order</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="shadow rounded p-5 position-relative">
        <div class="row">
          <div class="col-lg-8 col-sm-8 col-md-8 col-12">
            <div class="progressBar mb-5 pb-3">
              <ul class="progressbar">
                <li [ngClass]="{'active': currentStep === 1}">General Details</li>
                <li [ngClass]="{'active': currentStep === 2}">Supplier & Payment Details</li>
                <li [ngClass]="{'active': currentStep === 3}">Material Details</li>
                <li [ngClass]="{'active': currentStep === 4}">Taxes & Charges Details</li>
                <li [ngClass]="{'active': currentStep === 5}">Confirmation</li>
              </ul>
            </div>
          </div>
        </div>

        <form [formGroup]="supplierDetailsForm" (ngSubmit)="onSaveAndNext()" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="formse mb-0">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-12">
                <h3 class="mb-3 fw-bolder fs-6">Supplier Details</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-sm-8 col-md-8 col-12">
                <div class="row gap-0">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="empfiled">
                      <div class="input-group mb-4">
                        <label for="Soldby" class="form-label">Sold by <span class="text-danger">*</span></label>
                        <div class="input-group input-with-icon">
                          <input class="form-control caret-transparent" list="soldbylist" id="soldby"
                            placeholder="Start typing to select" appPreventTextInput data-bs-toggle="modal"
                            data-bs-target="#staticSoldby" formControlName="soldby">
                        </div>
                        <!-- <small
                          *ngIf="supplierDetailsForm.get('soldby')?.invalid && supplierDetailsForm.get('soldby')?.touched"
                          class="text-danger">
                          Sold by is required
                        </small> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="empfiled">
                      <div class="input-group mb-4">
                        <label for="Shippedby" class="form-label">Shipped by <span class="text-danger">*</span></label>
                        <div class="input-group input-with-icon">
                          <input class="form-control caret-transparent" list="Shippedbylist" id="Shippedby"
                            placeholder="Start typing to select" appPreventTextInput data-bs-toggle="modal"
                            data-bs-target="#staticSoldby" formControlName="shippedby">
                        </div>
                        <!-- <small
                          *ngIf="supplierDetailsForm.get('shippedby')?.invalid && supplierDetailsForm.get('shippedby')?.touched"
                          class="text-danger">
                          Shipped by is required
                        </small> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="empfiled">
                      <div class="input-group mb-4">
                        <label for="Remitto" class="form-label">Remit to <span class="text-danger">*</span></label>
                        <div class="input-group input-with-icon">
                          <input class="form-control caret-transparent" list="Remittolist" id="Remitto"
                            placeholder="Start typing to select" appPreventTextInput data-bs-toggle="modal"
                            data-bs-target="#staticSoldby" formControlName="remitto">
                        </div>
                        <!-- <small
                          *ngIf="supplierDetailsForm.get('remitto')?.invalid && supplierDetailsForm.get('remitto')?.touched"
                          class="text-danger">
                          Remit to is required
                        </small> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="empfiled">
                      <div class="input-group mb-4">
                        <label for="Salesperson" class="form-label">Sales person</label>
                        <div class="input-group">
                          <input formControlName="salesperson" type="text" id="salesperson" class="form-control"
                            placeholder="Sales person" appAllowOnlyText>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="empfiled">
                      <div class="input-group mb-4">
                        <label for="Remarks" class="form-label">Remarks</label>
                        <div class="input-group">
                          <input formControlName="remarks" type="text" id="remarks" class="form-control"
                            placeholder="Remarks" appAllowTextAndNumbers>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="formse mb-0">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-12">
                      <h3 class="mb-3 fw-bolder fs-6">Payment Details</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                      <div class="row gap-0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                          <div class="empfiled">
                            <div class="input-group mb-4">
                              <label for="Creditterm" class="form-label">Credit term <span
                                  class="text-danger">*</span></label>
                              <div class="input-group input-with-icon">
                                <input class="form-control" list="Credittermlist" id="Creditterm"
                                  placeholder="Start typing to select" formControlName="creditterm" appPreventTextInput>
                                <datalist id="Credittermlist">
                                  <option value="Credit 60 Days">
                                  <option value="Credit 30 Days">
                                  <option value="Credit 60 Days">
                                  <option value="Credit 30 Days">
                                </datalist>
                              </div>
                              <small
                                *ngIf="supplierDetailsForm.get('creditterm')?.invalid && supplierDetailsForm.get('creditterm')?.touched"
                                class="text-danger">
                                Credit term is required
                              </small>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                          <div class="empfiled">
                            <div class="input-group mb-4">
                              <label for="Pricebasis" class="form-label">Price basis (encoterms)</label>
                              <div class="input-group input-with-icon">
                                <input class="form-control" list="Pricebasislist" id="Pricebasis"
                                  placeholder="Start typing to select" formControlName="pricebasis" appPreventTextInput>
                                <datalist id="Pricebasislist">
                                  <option value="FOB">
                                  <option value="CIF">
                                  <option value="EXW">
                                  <option value="FOB">
                                  <option value="CIF">
                                  <option value="EXW">
                                </datalist>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                          <div class="empfiled">
                            <div class="input-group mb-0">
                              <label for="Currency" class="form-label">Currency exchange rate <span>*</span></label>
                            </div>
                          </div>
                          <div class="row gx-2">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="empfiled">
                                <div class="input-group mb-4">
                                  <div class="input-group input-with-icon">
                                    <span
                                      class="input-group-text bg-transparent border-0 border-start border-top border-bottom pricetop pe-0 ps-2">₹</span>
                                    <input type="text" autocomplete="off"
                                      class="form-control pricesec caret-transparent" data-bs-toggle="modal"
                                      data-bs-target="#staticCurrency" formControlName="currency.inr" appAllowOnlyNumbers>
                                  </div>
                                  <small
                                    *ngIf="supplierDetailsForm.get('currency.inr')?.invalid && supplierDetailsForm.get('currency.inr')?.touched"
                                    class="text-danger">
                                    INR rate is required
                                  </small>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="empfiled">
                                <div class="input-group mb-4">
                                  <div class="input-group">
                                    <span class="input-group-text border-0 bg-transparent">$</span>
                                    <input type="text" autocomplete="off" class="form-control"
                                      formControlName="currency.usd" appAllowOnlyNumbers>
                                  </div>
                                  <small
                                    *ngIf="supplierDetailsForm.get('currency.usd')?.invalid && supplierDetailsForm.get('currency.usd')?.touched"
                                    class="text-danger">
                                    USD rate is required
                                  </small>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                          <div class="empfiled">
                            <div class="input-group mb-4">
                              <label for="Closingvalue" class="form-label">Closing value</label>
                              <div class="input-group">
                                <input type="text" id="Closingvalue" class="form-control" placeholder="Closing value"
                                  formControlName="closingvalue">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                          <div class="empfiled">
                            <div class="input-group mb-4">
                              <label for="Costcentre" class="form-label">Cost centre</label>
                              <div class="input-group input-with-icon">
                                <input class="form-control" list="Componentlist" id="Costcentre"
                                  placeholder="Start typing to select" formControlName="costcentre" appPreventTextInput>
                                <datalist id="Componentlist">
                                  <option value="Component">
                                  <option value="Component">
                                  <option value="Component">
                                  <option value="Component">
                                  <option value="Component">
                                </datalist>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="formse">
                  <div class="row align-items-center">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                      <div class="formsebtn d-flex align-items-center justify-content-between mb-2 mt-3">
                        <div class="backclass">
                          <button class="backpart text-decoration-none border-0 bg-white" [disabled]="currentStep === 1"
                            (click)="goBack()">Back</button>
                        </div>
                        <div class="savesec d-flex align-items-center justify-content-end gap-3">
                          <button type="button"
                            class="btn btn-outline-primary rounded-5 px-5 py-2 fw-bold">Clear</button>
                          <button type="submit" class="btn btn-outline-secondary rounded-5 px-5 py-2 fw-bold"
                            [disabled]="supplierDetailsForm.invalid">Save</button>
                          <button type="submit" class="btn btn-secondary rounded-5 px-5 py-2 fw-bold"
                            [disabled]="supplierDetailsForm.invalid" (click)="next()">Next</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-12"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-md-4 col-12">
                <div class="rightimag position-absolute bottom-0 text-end">
                  <img src="../../../assets/images/purchase/rightimg.png" class="img-fluid w-50" alt="...">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Sold by -->
<div class="modal fade" id="staticSoldby" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header border-0 pb-0 px-5 pt-3 pe-3">
        <button type="button" class="btn-close shadow-none text-black opacity-100" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body px-5 pt-0 pb-0">
        <div class="formse mb-4">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-12">
              <h3 class="mb-3 fw-bolder fs-6">Select Supplier</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12">
              <div class="row gap-0">
                <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                  <div class="tableview overflow-hidden rounded-3">
                    <div class="d-flex px-4 py-1 align-items-center" role="search">
                      <svg-icon style="transform: scale(1.3);" src="../../../assets/icons/purchase/search-table.svg">
                      </svg-icon>
                      <input class="form-control border-0 fs-6 ps-2" type="search" placeholder="Search"
                        aria-label="Search">
                    </div>
                    <div class="table-responsive">
                      <table class="table rounded-3 mb-0">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Party name</th>
                            <th scope="col">Supplier ID</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Rating</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let supplier of suppliers; let i = index" (click)="selectRow(i)"
                            [class.table-active]="selectedRow === i">
                            <td><strong>{{ i + 1 }}</strong></td>
                            <td>{{ supplier.partyName }}</td>
                            <td>{{ supplier.supplierId }}</td>
                            <td>{{ supplier.grade }}</td>
                            <td>★ {{ supplier.rating }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td class="text-end" colspan="5"><small class="text-end"><strong>Total Suppliers:
                                  {{ suppliers.length }}</strong></small></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-start px-5 pt-0 pb-5">
        <button *ngIf="selectedRow !== null" type="button" class="btn btn-secondary rounded-5 px-5 py-2">Select</button>
      </div>
    </div>
  </div>
</div>

<!-- Currency -->
<div class="modal fade" id="staticCurrency" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content border-0">
      <div class="modal-header border-0 pb-0 px-5 pt-3 pe-3">
        <button type="button" class="btn-close shadow-none text-black" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body px-5 pt-0 pb-0">
        <h5 class="modal-title mt-3 fw-semibold pb-4">Add New Currency To Master</h5>
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12 col-12">
            <div class="row gap-0">
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="empfiled">
                  <div class="input-group mb-4">
                    <label for="Currencyname" class="form-label">Currency name</label>
                    <div class="input-group">
                      <input class="form-control" id="Currencyname" placeholder="Currency name">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="empfiled">
                  <div class="input-group mb-4">
                    <label for="Currencysymbol" class="form-label">Currency symbol</label>
                    <div class="input-group">
                      <input class="form-control" id="Currencysymbol" placeholder="Symbol">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="empfiled d-flex align-items-center h-100">
                  <div class="form-check form-switch ">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-start px-5 pt-4 pb-5">
        <button type="button" class="btn btn-secondary rounded-5 px-5 py-2">Add</button>
      </div>
    </div>
  </div>
</div>
