<nav class="sidebar dark_sidebar">
   <div class="d-grid gap-8 justify-content-between align-items-lg-center h100">
      <div class="firstnav">
         <ul id="sidebar_menu" class="metismenu d-grid align-items-center justify-content-center gap-3">
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                     <svg-icon src="../../../assets/icons/purchase/view-grid.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/inbox-in.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/chart-pie.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/delivery-boy.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/tag.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/clipboard-list.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/chart-square-bar.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/archive.svg"></svg-icon>
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="lastnav">
         <ul class="d-grid align-items-center justify-content-center gap-3">
            <li class="lastnavli">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/purchase/Vector.svg"></svg-icon>
                  </div>
               </a>
            </li>
         </ul>
      </div>
   </div>
 </nav>