<nav class="sidebar dark_sidebar">
   <div class="d-grid gap-8 justify-content-between align-items-lg-center h100">
      <div class="firstnav">
         <ul id="sidebar_menu" class="metismenu d-grid align-items-center justify-content-center gap-3">
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                     <svg-icon src="../../../assets/icons/empolyee/view-grid.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/UserOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/AdjustmentsOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/CalendarOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/CurrencyRupeeOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/ClockOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/UserGroupOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
            <li class="">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/DocumentDuplicateOutline.svg"></svg-icon>
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="lastnav">
         <ul class="d-grid align-items-center justify-content-center gap-3">
            <li class="lastnavli">
               <a class="has-arrow" href="#" aria-expanded="false">
                  <div class="nav_icon_small">
                  <svg-icon src="../../../assets/icons/empolyee/Vector.svg"></svg-icon>
                  </div>
               </a>
            </li>
         </ul>
      </div>
   </div>
 </nav>